*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(#eee, #689);
}

:root{
    --w-hover: 100%;
    --h-hover: 4px;
    --color-hover: rgb(0, 174, 255);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 200px;
    height: 200px;
    background: #fff;
    position: relative;
    overflow: hidden;
}


.card span{
    transition: 0.5s;
    opacity: 0;
}

.card:hover span{
    opacity: 1;
}

.card span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: var(--w-hover);
    height: var(--h-hover);
    background: linear-gradient(to right, transparent, var(--color-hover));
    z-index: 4;
    animation: mover 2s linear infinite;
}

@keyframes mover{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

.card span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: var(--h-hover);
    height: var(--w-hover);
    background: linear-gradient(to bottom, transparent, var(--color-hover));
    z-index: 4;
    animation: mover2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes mover2{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(100%);
    }
}

.card span:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--w-hover);
    height: var(--h-hover);
    background: linear-gradient(to left, transparent, var(--color-hover));
    z-index: 4;
    animation: mover3 2s linear infinite;
}

@keyframes mover3{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.card span:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--h-hover);
    height: var(--w-hover);
    background: linear-gradient(to top, transparent, var(--color-hover));
    z-index: 4;
    animation: mover4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes mover4{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(-100%);
    }
}


